# Set Verdaccio as the default registry
registry=http://localhost:4873

# Authentication details for Verdaccio
# echo -n 'bob:hunter22' | base64
//localhost:4873/:_auth=Ym9iOmh1bnRlcjIy
//localhost:4873/:email=bob@localhost
//localhost:4873/:always-auth=true
